<div class="planet-name-big"><%= @planet.name.capitalize %></div>

<div class="planet-infos-container">


  <div class="planet-info-small"><%= "Radius : #{planet_radius_in_km(@planet.radius)} Km (#{radius_in_earth(planet_radius_in_km(@planet.radius))} x earth)" %></div>
  <div class="planet-info-small"><%= "Mass : #{planet_mass_in_kg(@planet.mass)} Kg (#{mass_in_earth(planet_mass_in_kg(@planet.mass))} x earth)" %></div>
  <div class="planet-info-small"><%= "Gravity : #{@planet.gravity} m/s (#{gravity_in_g(@planet.gravity)}g)" %></div>
  <div class="planet-info-small"><%= "Temperature : #{@planet.temperature} Degres C°" %></div>
  <div class="planet-info-small"><%= "Orbital period : #{@planet.orbital_period} Days (#{revolution_in_years(@planet.orbital_period)} Years)" %></div>
  <div class="planet-info-small"><%= "Orbital speed : #{speed_in_kms(@planet.orbital_speed)} Km/s" %></div>
  <div class="planet-info-small"><%= "Distance from the sun : #{@planet.solar_distance} UA (#{@planet.solar_distance.round(3)} x earth)" %></div>
  <div class="planet-info-small"><%= "Planet type : #{@planet.planet_type}" %></div>
  <div class="planet-info-small"><%= "Atmosphere : #{@planet.atmosphere}" %></div>
  <div class="planet-info-small"><%= "Water : #{@planet.water}" %></div>
  <div class="planet-info-small"><%= "Liquid water : #{@planet.liquid_water}" %></div>
  <div class="planet-info-small"><%= "Life : #{@planet.life}" %></div>



</div>



<% content_for :threejs do %>


<script>
      var planetcolor = <%= @planet.planet_color.inspect.html_safe %>;
      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 1, 2000 );

      var texture = new THREE.TextureLoader().load( '<%= image_path('planet2.jpg')%>' );
      var texture2 = new THREE.TextureLoader().load( '<%= image_path('moon.jpg')%>' );

      var directionalLight = new THREE.DirectionalLight( 0xffffff );
      directionalLight.position.set( -1, 0.5, 1 );
      scene.add( directionalLight );

      light = new THREE.AmbientLight( "#100F11" );
      scene.add( light );

      var renderer = new THREE.WebGLRenderer({ antialias: true });
      renderer.setSize( window.innerWidth, window.innerHeight );
      document.body.appendChild( renderer.domElement );


      var white = 0xffffff;

      var geometry = new THREE.SphereGeometry( 1, 64, 64 );
      var material = new THREE.MeshPhongMaterial( {color: planetcolor,specular: planetcolor,shininess: 3,reflectivity: 2,map: texture} );
      var cube = new THREE.Mesh( geometry, material );
      scene.add( cube );



      var geometry = new THREE.SphereGeometry(0.1, 64, 64);
      var material = new THREE.MeshPhongMaterial( {color: white,specular: white,shininess: 1,reflectivity: 1,map: texture2} );
      var moon = new THREE.Mesh( geometry, material );
      scene.add( moon );









      camera.position.z = 5;

      var render = function () {
        requestAnimationFrame( render );
        cube.rotation.y -= 0.002;
        var time = Date.now();
        moon.position.x = Math.cos( time * 0.0001 )*2;
        moon.position.z = Math.sin( time * 0.0001 )*2;
        directionalLight.position.x = Math.cos( time * 0.00005 )*1;
        directionalLight.position.z = Math.sin( time * 0.00005 )*1;

        renderer.render(scene, camera);
      };

      controls = new THREE.OrbitControls( camera, renderer.domElement );
        //controls.addEventListener( 'change', render ); // add this only if there is no animation loop (requestAnimationFrame)
        controls.enableDamping = true;
        controls.dampingFactor = 0.25;
        controls.enableZoom = true;
        controls.zoomSpeed = 0.50;



      render();
</script>

<% end %>
